<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950749718898-8aj7bn1goi86dtnbrukg74vd7q5p3osr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950749718898-8aj7bn1goi86dtnbrukg74vd7q5p3osr</string>
	<key>API_KEY</key>
	<string>AIzaSyAeftWTBuF9qkagjYClPd1DRTfRByccpGs</string>
	<key>GCM_SENDER_ID</key>
	<string>950749718898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sankofaSmeExec</string>
	<key>PROJECT_ID</key>
	<string>sankofa-sme</string>
	<key>STORAGE_BUCKET</key>
	<string>sankofa-sme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950749718898:ios:6e4021cb069c27b412d5eb</string>
</dict>
</plist>